<header>
  <h1>ねこったー</h1>
</header>
<div class="contents">
  <div class="message clearfix">
    <%= image_tag 'cat1.png' %>
    <div class="message_box">
    <p class="user_name">野良猫１号<span class="time">・８月１３日</span></p>
      <p class="text">
        今日もひまだにゃー、とりあえずゴロゴロするかにゃー、煮干し食べたいにゃー、食べた後は散歩でもおいきたいにゃー。
      </p>
    </div>
  </div>
  <div class="message clearfix">
    <%= image_tag 'cat1.png' %>
    <div class="message_box">
      <p class="user_name">たま<span class="time">・８月１３日</span></p>
      <p class="text">
        家宝は寝て待てにゃー。急がば回れにゃー。蓼食う虫も好き好きにゃー。一念岩をも通すにゃー。千石取れば万石羨むにゃー。
      </p>
    </div>
  </div>
  <div class="message clearfix">
    <%= image_tag 'cat1.png' %>
    <div class="message_box">
      <p class="user_name">たま<span class="time">・８月１３日</span></p>
      <p class="text">
        家宝は寝て待てにゃー。急がば回れにゃー。蓼食う虫も好き好きにゃー。一念岩をも通すにゃー。千石取れば万石羨むにゃー。
      </p>
    </div>
  </div>
  <div class="message clearfix">
    <%= image_tag 'cat1.png' %>
    <div class="message_box">
      <p class="user_name">たま<span class="time">・８月１３日</span></p>
      <p class="text">
        家宝は寝て待てにゃー。急がば回れにゃー。蓼食う虫も好き好きにゃー。一念岩をも通すにゃー。千石取れば万石羨むにゃー。
      </p>
    </div>
  </div>
  <div class="message clearfix">
    <%= image_tag 'cat1.png' %>
    <div class="message_box">
      <p class="user_name">たま<span class="time">・８月１３日</span></p>
      <p class="text">
        家宝は寝て待てにゃー。急がば回れにゃー。蓼食う虫も好き好きにゃー。一念岩をも通すにゃー。千石取れば万石羨むにゃー。
      </p>
    </div>
  </div>
  <div class="message clearfix">
    <%= image_tag 'cat1.png' %>
    <div class="message_box">
      <p class="user_name">たま<span class="time">・８月１３日</span></p>
      <p class="text">
        家宝は寝て待てにゃー。急がば回れにゃー。蓼食う虫も好き好きにゃー。一念岩をも通すにゃー。千石取れば万石羨むにゃー。
      </p>
    </div>
  </div>
</div>